/* Work Sense google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700;800&display=swap");
/* Shared Styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.text-light-gray {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

/* Header style starts */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 10px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav ul li {
  margin-right: 30px;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  counter-reset: #424242;
}

/* Banner styles */
.banner-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  width: 100%;
  margin-top: 50px;
}

/* main section styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}

/*  teams style */
.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .quick-list {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/* Facts style */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  color: #424242;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  columns: #424242;
  margin: 10px 0;
}

/* sponsors styles */
.sponsors {
  margin-top: 50px;
  text-align: center;
}

.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img {
  width: 240px;
}

/*  responsive styles */
/* Mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-content,
  .facts-card-container {
    padding: 0 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*  tablet of medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  header {
    padding: 30px;
  }
}
